.Button {
  margin: 10px;
  visibility: hidden;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  background: linear-gradient(to right, #2e343d 50%, transparent 50%) left;
  background-size: 200%;
  transition: 0.5s ease-in-out;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  transform: scale(1);
}
