.QuestionSet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.Next {
  position: absolute;
  height: 100%;
  width: 100%;
}

.Total {
  margin-top: 20px;
}

.Comments {
  margin-top: 10px;
  z-index: 999;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

.Comments:hover {
  cursor: pointer;
  text-decoration: none;
}

.Icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Icon {
  z-index: 999;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Icon:hover {
  transform: scale(1.2);
}

.Skip {
  cursor: pointer;
  margin-top: 20px;
  text-decoration: underline;
}

.Skip:hover {
  text-decoration: none;
}
